<li class="tweet">
  <div class="media">
    <div class="media-left">
      <%= link_to tweet.user do %>
        <%= avatar_image_tag(tweet.user, class: 'media-object') %>
      <% end %>
    </div>

    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to tweet.user.handle, tweet.user %>
        <small><%= tweet_date(tweet) %></small>
        <%= tweet_favorite(tweet) if user_signed_in? %>
      </h4>
      <p><%= tweet.body %></p>
    </div>
  </div>
</li>
